<tbody>
  <% @songs.each do |song| %>
    <tr>
      <td><%= link_to song.title, song_path(song) %></td>
      <td><%= song.release_year %></td>
      <td><%= song.genre %></td>
      <td><%= song.artist_name %></td>
      <td>
        <%= link_to 'Edit', edit_song_path(song) %> |
        <%= link_to 'Delete', song, method: :delete, data: { confirm: 'For real?' } %>
      </td>
    </tr>
  <% end %>
</tbody>
